.grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
}

.square {
    height: 48px;
    width: 48px;
    background-color: white;
    border: solid black 1px;
}