h1 {
    text-align: center;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
}

.square {
    height: 48px;
    width: 48px;
    border: solid black 1px;
}