h1 {
    text-align: center;
}

button {
    font-size: 16px;
    padding: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content {
    display: flex;
    justify-content: space-evenly;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
}

.square {
    height: 48px;
    width: 48px;
    border: solid black 1px;
}