h1 {
    text-align: center;
}

p {
    align-self: center;
    font-weight: 550;
}

button {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

body {
    background-color: whitesmoke;
}

.content {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 30px;
}

.grid-container {
    display: flex;
    margin-top: 50px;
    height: 700px;
    width: 700px;
}

.row {
    display: flex; 
    flex-direction: column;
    flex: 1 1 auto;
}

.square {
    border: solid black 1px;
    flex: 1 1 auto 
}